{% extends 'base.html.twig' %}

{% block title %}
	Edit Tab
{% endblock %}

{% block body %}
	<h1>Edit Tab</h1>

	{{ include('tab/_form.html.twig', {'button_label': 'Update'}) }}

	{{ include('tab/_transpose_form.html.twig', {'last_selected_direction': app.request.get('last_selected_direction')}) }}

	{{ include('tab/_cleanup_form.html.twig') }}

	<a href="{{ path('app_tag_new') }}">create new tag</a>

	<a href="{{ path('app_tab_show', {'id': tab.id}) }}">Back to Tab</a>

	{{ include('tab/_delete_form.html.twig') }}
{% endblock %}
