{% extends 'base.html.twig' %}

{% block title %}Tab index
{% endblock %}

{% block body %}
	<h1>Tab index</h1>

	<input type="text" id="tab_search" placeholder="Search...">

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Key</th>
				<th>Capo</th>
				<th>Similarity</th>
			</tr>
		</thead>
		<tbody id="wrapper">
			{% for tab in tabs %}
				<tr class="tab">
					<td>
						<a href="{{ path('app_tab_show', {'id': tab.id}) }}">{{ tab.name }}</a>
					</td>
					<td>{{ tab.songKey.name }}</td>
					<td>{{ tab.capo }}</td>
					<td class="similarity"></td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_tab_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
	{{ importmap('tabSearch') }}
{% endblock %}
