{% extends 'base.html.twig' %}

{% block title %}
	{{ tab.title }}
{% endblock %}

{% block body %}
	<section class="tab-information">
		<h1>{{ tab.title }}</h1>

		<a href="{{ path('app_tab_index') }}" class="link">Back to List</a>

		<a href="{{ path('app_tab_edit', {'id': tab.id}) }}" class="link">
			<span>Edit</span>
		</a>

		<table class="table">
			<tbody>
				<tr>
					<th>Tags</th>
					<td>
						{% for tag in tab.tags %}
							{{ tag.name }}
							{% if not loop.last %},
							{% endif %}
						{% else %}
							<em>No tags</em>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th>Capo</th>
					<td>{{ tab.capo }}</td>
				</tr>
			</tbody>
		</table>
	</section>

	<pre class="tab-content">{{ tab.content|raw }}</pre>

{% endblock %}
