{% extends 'base.html.twig' %}

{% block title %}
	{{ tab.title }}
{% endblock %}

{% block body %}
	<section class="tab-information">
		<h1>{{ tab.title }}</h1>

		<a href="{{ path('app_tab_index') }}">back to list</a>

		<a href="{{ path('app_tab_edit', {'id': tab.id}) }}" class="edit-link">
			<span>Edit</span>
		</a>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ tab.id }}</td>
				</tr>
				<tr>
					<th>Title</th>
					<td></td>
				</tr>
				<tr>
					<th>Capo</th>
					<td>{{ tab.capo }}</td>
				</tr>
			</tbody>
		</table>
	</section>

	<pre>
        {{ tab.content }}
    </pre>

{% endblock %}
