{% extends 'base.html.twig' %}

{% block title %}Tab{% endblock %}

{% block body %}
    <h1>Tab</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tab.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ tab.title }}</td>
            </tr>
            <tr>
                <th>Capo</th>
                <td>{{ tab.capo }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ tab.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tab_index') }}">back to list</a>

    <a href="{{ path('app_tab_edit', {'id': tab.id}) }}">edit</a>

    {{ include('tab/_delete_form.html.twig') }}
{% endblock %}
