{% extends 'base.html.twig' %}

{% block title %}Tab
{% endblock %}

{% block body %}
	<h1>{{ tab.name }}</h1>

	<h2>by
		{{ tab.artist.name }}</h2>

	<div style="display: flex; flex-direction: column; gap: 1rem;">
		<p>Key:
			{{ tab.songKey.name }}</p>
		<p>Capo:
			{{ tab.capo }}</p>

		<a href="{{ path('app_tab_index') }}">back to list</a>

		<a href="{{ path('app_tab_edit', {'id': tab.id}) }}">edit</a>
		{{ include('tab/_delete_form.html.twig') }}
	</div>

	<hr style="margin: 1rem 0"/>

	<pre style="white-space: pre-wrap; word-wrap:break-word;">{{ tab.content }}</pre>
{% endblock %}
