{% extends 'app/base.html.twig' %}

{% block title %}
	Edit Tab
{% endblock %}

{% block content %}
	<h1>Edit Tab</h1>

	{{ include('app/tab/_form.html.twig', {'button_label': 'Update'}) }}

	<hr class="devider">

	{{ include('app/tag/_new_form.html.twig') }}

	{{ include('app/artist/_new_form.html.twig') }}

	{{ include('app/tab/_transpose_form.html.twig', {'last_selected_direction': app.request.get('last_selected_direction')}) }}

	{{ include('app/tab/_format_form.html.twig') }}

	<a href="{{ path('app_tab_show', {'id': tab.id}) }}">Back to Tab</a>

	{{ include('app/tab/_delete_form.html.twig') }}
{% endblock %}
