{% extends 'app/base.html.twig' %}

{% block title %}
	Tabs
{% endblock %}

{% block content %}
	<h1>Tabs</h1>

	<div data-controller="tabs-display" class="tabs-display-container">
		<input class="tabs-search-input" type="text" placeholder="Search..." data-tabs-display-target="tabSearchInput" data-action="input->tabs-display#search">

		<label for="tagsInput">Filter by tags:</label>
		<input class="tags-search-input" id="tagsInput" type="text" placeholder="Search..." autocomplete="off" data-tabs-display-target="filterByTagsInput" data-action="input->tabs-display#orderTagSuggestions keydown.enter->tabs-display#selectTagFromInput">
		<div class="tags-autocomplete" data-tabs-display-target="tagsAutocomplete" data-tags="{{ tags|map(tag => tag.name)|join(',') }}">
			{% for tag in tags %}
				<div data-name="{{ tag.name }}" class="tags-autocomplete-item" data-action="click->tabs-display#selectTag">
					{{ tag.name }}
				</div>
			{% endfor %}
		</div>

		<label for="artistInput">Filter by artist:</label>
		<input class="artist-search-input" id="artistInput" type="text" placeholder="Search..." autocomplete="off" data-tabs-display-target="filterByArtistInput" data-action="input->tabs-display#orderArtistSuggestions keydown.enter->tabs-display#selectArtistFromInput">
		<div class="artist-autocomplete" data-tabs-display-target="artistAutocomplete" data-artists="{{ artists|map(artist => artist.name)|join(',') }}">
			{% for artist in artists %}
				<div data-name="{{ artist.name }}" class="artist-autocomplete-item" data-action="click->tabs-display#selectArtist">
					{{ artist.name }}
				</div>
			{% endfor %}
		</div>

		<hr class="devider" style="margin: 20px 0;">
		<h2>Results:</h2>
		<div class="tabs-display" data-tabs-display-target="tabsContainer">
			{% for tab in tabs %}
				<div onclick="location.href='{{ path('app_tab_show', {'id': tab.id}) }}';" style="cursor:pointer;" data-tabs-display-target="tabItem" data-title="{{ tab.title }}" data-tags="{{ tab.tags|map(tag => tag.name)|join(',') }}" data-artist="{{ tab.artist.name|default('') }}">
					<h2>{{ tab.title }}
						{% if tab.artist is not empty %}
							<span>by</span>
							{{ tab.artist.name }}
						{% endif %}
					</h2>
					{% if tab.tags is not null %}
						<ul>
							{% for tag in tab.tags %}
								<li>{{ tag.name }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			{% else %}
				no records found
			{% endfor %}
		</div>
	</div>

	<a href="{{ path('app_tab_new') }}">Create new</a>
{% endblock %}
