{% extends 'app/base.html.twig' %}

{% block title %}
	Tabs
{% endblock %}

{% block content %}
	<h1>Tabs</h1>

	<div class="tabs-display">
		{% for tab in tabs %}
			<div>
				<h2>{{ tab.title }}
					{% if tab.artist is not empty %}
						<span style="font-size: smaller; color: gray;">by</span>
						{{ tab.artist.name }}
					{% endif %}
				</h2>
				<ul>
					{% for tag in tab.tags %}
						<li>{{ tag.name }}</li>
					{% endfor %}
				</ul>
				<pre>{{ tab.content }}</pre>
				<a href="{{ path('app_tab_show', {'id': tab.id}) }}">Show</a>
				<a href="{{ path('app_tab_edit', {'id': tab.id}) }}">Edit</a>
			</div>
		{% else %}
			no records found
		{% endfor %}
	</div>

	<a href="{{ path('app_tab_new') }}">Create new</a>
{% endblock %}
