{% extends 'app/base.html.twig' %}

{% block title %}
	{{ tab.title }}
{% endblock %}

{% block content %}
	<section class="tab-information">
		<h1>{{ tab.title }}
			{% if tab.artist is not empty %}
				<span style="font-size: smaller; color: gray;">by</span>
				<a href="{{ path('app_artist_show', {'id': tab.artist.id}) }}">{{ tab.artist.name }}</a>
			{% endif %}
		</h1>

		<a href="{{ path('app_tab_index') }}" class="link">Back to Tab Search</a>

		<br style="margin: 10px 0;">

		<a href="{{ path('app_tab_edit', {'id': tab.id}) }}" class="link">Edit Tab</a>

		<table class="table">
			<tbody>
				<tr>
					<th>Tags</th>
					<td>
						<ul class="tags-list">
							{% for tag in tab.tags %}
								<li class="tag-badge">
									{{ tag.name }}
								</li>
							{% else %}
								<em>No tags</em>
							{% endfor %}
						</ul>
					</td>
				</tr>
				<tr>
					<th>Capo</th>
					<td>{{ tab.capo }}</td>
				</tr>
			</tbody>
		</table>
	</section>

	<pre class="tab-content">{{ tab.content|raw }}</pre>

{% endblock %}
